<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<window>
	<backgroundcolor>0</backgroundcolor>
	<defaultcontrol always="true">10</defaultcontrol>
	<controls>
		<include>default_background</include>
		<control type="group">
			<include>common_window_animation</include>
			<control type="group">
				<!-- Icon /-->
				<control type="image">
					<fadetime tween="cubic">300</fadetime>
					<aspectratio>keep</aspectratio>
					<top>390</top>
					<width>1186</width>
					<height>300</height>
					<texture colordiffuse="white500">miscellaneous/settings.png</texture>
				</control>
				<!-- Panel /-->
				<control type="image">
					<left>1186</left>
					<width>454</width>
					<height>1080</height>
					<texture colordiffuse="black">colors/white.png</texture>
				</control>
				<control type="image">
					<left>1181</left>
					<width>5</width>
					<height>1080</height>
					<texture colordiffuse="white300" flipx="true">shadows/shadowline_5px_right.png</texture>
				</control>
				<control type="image">
					<left>1640</left>
					<width>5</width>
					<height>1080</height>
					<texture colordiffuse="white300">shadows/shadowline_5px_right.png</texture>
				</control>
				<!-- Settings list /-->
				<include content="settings_list">
					<param name="id">10</param>
					<param name="content">default_settings_content</param>
				</include>
				<include content="default_header_label">
					<param name="label">$LOCALIZE[31009]</param>
					<param name="container_id">10</param>
				</include>
				<include>clock</include>
			</control>
		</control>
	</controls>
</window>
